{% extends "base.html" %}
{% block toolbar %}


{% endblock %}

{% block content %}


<h2>Set up your school for success on Gajupy Cloud</h2>


This multi-step guide helps IT administrators to set up a Google Cloud foundation in order to run scalable, production-ready enterprise workloads. This guide is intended for large organisations.

What you'll do:

Create your school organisation
Set up Cloud Identity, verify your domain and create an organisation

Provision users and groups
Add your colleagues or map them from Google Cloud

Assign administrative access
Ensure that your admin colleagues responsible for management have the right level of access

Set up billing
Configure your billing account for initial setup

Configure hierarchy and assign access
Set up initial folder and project structure, and assign access to colleagues

Set up networking
Set up your initial networks

Enable security capabilities
Set up organisational policies and learn more about Google Cloud's security offerings

Choose a support model
Choose online or premium support


{% endblock %}